
.connect-wallet-btn{
    border-radius:6px;
    min-width: 135px;
    height: 36px;
    padding: .2rem .5rem;
}
.swap-wallet-btn {
    width: 100%;
    border-radius: 27px;
    padding: 1.5rem !important;
    height: 45px;
}
.swap-wallet-btn:disabled{
    margin-top: 1rem;
    background: #F9F9F9;
    color: black;
    border-color: transparent;
    border-radius: 0;
}
.swap-wallet-btn:disabled:hover {
    background: black;
    color: white;
}
.swap-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.swap-button-container .connect-wallet-btn {
    width: 100%;
    padding: 1.2rem !important;
    border-radius: 35px;
}
.select-token-alert {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 4rem;
    background: light-dark(var(--white-smoof), none);
    margin-top: 1rem;
}
.select-token-alert.alert-danger{

}
.select-token-alert.alert-warning{

}
.loading-approve-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: .5rem;
}