.parkswap-network-socials-container {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    column-gap: .5rem;
    padding: 1.2rem;
}
.parkswap-network-container {

}

.parkswap-network-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*border: 1px solid black;*/
    box-shadow: 1px 1px 5px #000000c7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: light-dark(var(--gray), var(--gray));
    color: light-dark(var(--white), var(--white));
}
.parkswap-network-link:hover {
    transform: scale(1.2);
    transition: background-color .2s ease-in,
                transform .2s ease-in;
}
.parkswap-network-link.is-telegram:hover {
    background: var(--telegram-color);
}
.parkswap-network-link.is-discord:hover {
    background: var(--discord-color);
}
.parkswap-network-link.is-chat:hover {
    background: var(--chat-color);
}
.parkswap-network-link.is-twitterX:hover {
    background: var(--twitter-x-color);
}

.parkswap-network-icon {

}