
.app-navigation{
    height:210px;
    display:grid;
    grid-template-rows:80px 1fr 60px;
}

.app-navigation-logo{
    background:transparent;
    display:flex;
    justify-content:center;
    align-items:center;
}

.app-navigation-logo img{
    width: 44.18px;
    height: 60.836px;
    flex-shrink: 0;
}

.app-navigation-nav{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left:10px;
}

.app-navigation-nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
}

.app-navigation-nav ul a{
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color: #000;
    height:28px;
}

.app-navigation-nav ul li{
    flex-shrink: 0;
    text-align: center;
    font-family: Inter;
    /* display:flex;
    justify-content:center;
    align-items:center; */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    list-style:none;
    /* background:red; */
}


.app-navigation-buttons{
   display:flex;
   align-items:center;
   justify-content:center;
}

.connect-wallet-btn{
    color: #FFF;
    background:#088A24;
    border-radius:6px;
    border:2px solid #397546;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 135.854px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    cursor:pointer;
    margin-right:15px;
}

.network-btn{
    cursor:pointer;
    color: white;
    background: #0052ff;
    /*color: #088A24;*/
    /*background:#D9F9E0;*/
    border-radius:6px;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    height: 36px;
    padding-left:10px;
    padding-right:10px;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-shrink: 0;
    margin-right:15px;
}


.starknet-btn svg{
    margin-right:10px;
    padding-top:1px;
}

.nav-submenu-box{
    position:absolute;
    
    display:none;
}



.nav-menu-item-btn:hover .nav-submenu-box,
.nav-market-btn:hover .nav-submenu-box{
    transform: translate(-50%,0);
    display:block;
    margin-top:215px;
    margin-left:270px;
}


.nav-plus-btn:hover .nav-submenu-box{
    transform: translate(-50%);
    display:block;
    margin-top:330px;
    margin-left:110px;
}

.nav-submenu-box{
    padding:10px;
}

.nav-menu-submenu{
    width: 255.159px;
    height: 164px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 8px 17.7px 0px rgba(51, 198, 83, 0.10);
    /* margin-left:400px; */
}

.nav-menu-submenu ul{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr;
}

.nav-menu-submenu ul li{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.nav-menu-submenu ul li a{
    display:grid;
    grid-template-rows:20px 20px;
    grid-template-columns:45px 1fr;
    width:100%;
    color: #000;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.nav-menu-submenu ul li a:hover{
    color: #3BA351;
}

.nav-menu-submenu ul li a .icon{
    grid-row:span 2;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.nav-menu-submenu ul li a .icon svg{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.nav-menu-submenu ul li a .title{
    grid-row-start:1;
    grid-column-start:2;
    height:100%;
    text-align:left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-menu-submenu ul li a p{
    grid-column-start:2;
    grid-row-start:2;
    height:100%;
    text-align:left;
}


.nav-plus-btn .nav-menu-submenu{
    height:auto;
    
}


.nav-plus-btn .nav-menu-submenu ul li a{
    height:40px;
    grid-template-rows:40px;
}


.nav-plus-btn .nav-menu-submenu ul li a .title{
    display:flex;
    align-items:center;
}

.nav-plus-btn .nav-menu-submenu ul li a .icon svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.nav-plus-btn .nav-menu-submenu ul li a .icon svg image{
    height:100%;
    width:100%;
}

.app-navigation-btn{
    width:60px;
    height:60px;
    position:absolute;
    right:15px;
    top:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    z-index:1;
}


.nav-home-btn,.nav-portfolio-btn,.nav-bridge-btn{
    margin-top:6px;
    height: 40px;
    width: 102px;
}
.nav-trade-btn,.nav-plus-btn,.nav-market-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    height:40px;
}

.nav-trade-btn{
    border-radius:8px 0px 0px 8px;
    width: 102px;
}

.nav-market-btn{
    width: 102px;
}

.nav-plus-btn{
    border-radius:0px 8px 8px 0px;
    width: 92px;
    margin-right:10px;
}

.nav-dd,.nav-no-dd{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
}

/* ====== MQ ====== */

@media only screen and (min-width : 1224px){
    .app-navigation{
        grid-template-rows:1fr;
        grid-template-columns:150px 1fr 300px 80px;
        height:80px;
    }

    .app-navigation ul{
        justify-content:flex-start;
    }

    .app-navigation-btn{
        position:initial;
    }

    .nav-submenu-box{
        margin-left:150px;
        left:initial;
    }
    
    .app-navigation-nav ul{
        flex-direction:row;
    }

    .nav-home-btn,.nav-portfolio-btn,.nav-bridge-btn{
        height:21px;
        /* margin-bottom:100px; */
    }
}
