.site-wrapper{
    min-height:100vh;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    background: linear-gradient(114deg, rgba(156, 230, 0, 0.02) 7.02%, rgba(133, 188, 239, 0.10) 31.27%, rgba(184, 230, 230, 0.06) 54.67%, rgba(141, 229, 176, 0.10) 84.42%);
    /*backdrop-filter: blur(7px);*/
}


/* .app-concon{
    height:200px;
    display:flex;
    grid-template-columns:40px; 
    justify-content:center;
    width:300px;
    height:400px;
} */
.app-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    padding-top:40px;
    padding-bottom:100px;
}

.app-container-wrapper{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0px 8px 10.7px 0px rgba(51, 198, 83, 0.10);
    border-bottom:1px solid rgba(0,0,0,0.1);
    border-left:1px solid rgba(0,0,0,0.05);
    border-right:1px solid rgba(0,0,0,0.05);
}
.app-trade-container-wrapper {
    margin-top: 2rem;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.1);
}

.app-swap-box-container{
    border-radius:20px;
}
.app-swap-box-container.bg-green{
    background:rgba(162, 218, 118, 0.1);
    /*height:220px;*/
}

.app-swap-box-container.bordered{
    border-radius:20px;
    /*height:160px;*/
    border:1px solid rgba(0,0,0,0.1);
}

.app-container-button{
    background:rgba(65, 224, 99, 0.3);
    border:1px solid rgba(0,0,0,0.1);
    height:50px;
    border-radius:35px;
    cursor:pointer;
    text-align:center;
    font-size:15px;
    font-weight:500;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top: 2rem;
}

.app-container-button span{
    color:#397546;
    font-family: Poppins;
}

.app-container-wrapper div{
    padding: 5px;
    width:100%;
}

.app-container-button svg{
    height:25px; 
    width:25px;
    margin-right:10px;
}

.app-container-secondBox{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr;
    margin-bottom: 8px;
}


.secondBox-title{
    grid-column:1 / 2;
    grid-row:1 / 1;
    font-family:Poppins;
    font-size:12px;
    padding:8px;
    margin-left:10px;
    margin-top:2px;
}

.secondBox-token{
    grid-column:1 / 2;
    grid-row:2 / 3;
}

.secondBox-amount{
    grid-row:2/4;
    grid-column:2/4;
    color:rgba(0,0,0,0.9);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
    font-family:Poppins;
}



.app-container-firstBox{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr;
    margin-bottom: 8px;
}





.app-container-menu{
    display:flex;
    height:50px;
    padding-left:8px;
}


.container-menu-firstMenu{
    margin-right:auto;
    width:30%;
}

.container-menu-secondMenu{
    margin-left:auto;
    width:50%;
}

.app-container-menu ul{
    height:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    font-family:Poppins;

}

.app-container-menu ul li{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    cursor:pointer;
}
.app-container-menu ul.container-menu-secondMenu li{
    width: 35px !important;
}


.app-container-menu ul li svg image {
    height:100%;
    width:100%;
    
}

.app-container-menu ul li svg{
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}


.container-menu-firstMenu svg {
    height:20px;
    width:20px;
}

.container-menu-secondMenu svg{
    height:21px;
    width:21px;
}


.container-menu-firstMenu li{
    height:100%;
}

.container-menu-secondMenu li{
    height:35px;
    width:35px;
    border-radius:8px;
    margin:5px;
    transition:background-color .3s;
}

.container-menu-secondMenu li:hover{
    background-color:rgba(162, 218, 118, 0.2);
}
.app-container .amount-container{
    height:50%;
    width:100%;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:70% 30%;
    padding-right:10px;
}

.amount-container input[type=text]{
    border:none;
    background:transparent;
    outline:none;
    font-family:Poppins;
    font-size:20px;
    font-weight:500;
    width:100%;
}

.amount-container span{
    font-size:15px;
    text-align:right;
    line-height:15px;
    color:rgba(0,0,0,0.7);
}


.box-button{
    width:140px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:60px;
    border-radius:8px;
    margin-left:15px;
    margin-top:2px;
    border-radius:6px;
    height:50px;
    border:none;
    cursor:pointer;
    background:rgba(65, 224, 99, 0.3);
    border:1px solid rgba(0,0,0,0.1);
    color:#397546;
    font-weight:500;
    font-family: Poppins;
    padding-left:10px;
    padding-right:12px;
    transition:background-color .3s;
}

.box-button:hover{
    background-color:rgba(65, 224, 99, 0.3);
}

.box-button i{
    width:10px;
    height:10px;
    padding-top:2px;
    font-style : normal;
    margin-left:auto;
}

.box-button i svg{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-button i svg image{
    height:100%;
    width:100%;
}

.firstBox-btn{
    background:transparent;
    background: rgba(162, 218, 118, 0.08);
    color:#000;
    height:50px;
    border:none;
    border-radius:6px;
}

.firstBox-btn span{
    height:100%;
    width:80px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}


.firstBox-btn span svg{
    height:32px;
    width:32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstBox-btn span svg image{
    height:100%;
    width:100%;
}

.firstBox-token{
    margin-top:6px;
}

.firstBox-token-name{
    padding-left:16px;
    color:rgba(0,0,0,0.6);
    font-family:Poppins;
    font-size:13px;
}

.app-footer{
    border-top:1px solid rgba(0,0,0,0.1);
    padding: 20px 0;
    margin-top:20px;
    margin-top:auto;
    display: flex;
    justify-content: center;
    text-align:center;
    line-height:50px;
    font-family:Poppins;
    font-size:13px;
    font-weight:300;
}

.app-container-swap-btn-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 5px;
}
.app-container-swapBtn{
    height:35px;
    width:35px !important;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    position:absolute;
    cursor:pointer;
    margin-top: -17.5px;
    background:green;
    padding:5px;
}

.app-container-swapBtn svg{
    filter: brightness(0) invert(1);
    padding-right:2px;
}


/* ===== MQ ===== */

@media only screen and (min-width : 1224px){
    .app-container-wrapper{
        width:480px;
        padding: 20px;
        border-radius:10px;
        box-shadow: 0px 8px 17.7px 0px rgba(51, 198, 83, 0.10);
    }
    .app-trade-container-wrapper {
        width: 480px;
    }


    .app-navigation{
        grid-template-rows:1fr;
        grid-template-columns:150px 1fr 300px 80px;
        height:80px;
    }

    .app-navigation ul{
        justify-content:flex-start;
    }

    .app-navigation-btn{
        position:initial;
    }

    .nav-submenu-box{
        margin-left:150px;
        left:initial;
    }

    .app-footer{
        text-align:left;
        padding-left:50px;
    }

    
    .app-navigation-nav ul{
        flex-direction:row;
    }

    .nav-home-btn,.nav-portfolio-btn,.nav-bridge-btn{
        height:21px;
        /* margin-bottom:100px; */
    }
}

@media only screen and (max-width:1224px){
    .app-container{
        flex-direction:column;
    }
}




.app-secondBox-amount{
        background: url("../svg/icons/eth_icon.svg");
        background-repeat:no-repeat;
        background-position:top right;
        background-size:contain;
        transform:rotate(35deg);
}
       