:root {
    --section-radius: 25px;
    --container-height: 450px;
    --container-mobile-height: 450px;
}
body {
    margin: 0;
    padding: 0;
}
body * {
    font-family: Poppins !important;
}
.blog-title-container h1,.blog-title-container h3 {
    font-family: Inter !important;
}
img {
    width: 100%;
}
.blog-header-logo {
    display: flex;
    justify-content: center;
}
.blog-header-logo img {
    width: unset;
    max-height: 100px;
}
.blog-container.blog-token-container img {
    width: 120%;
    margin: -1rem -1rem;
}
.blog-collection img {
    filter: grayscale(100%);
}
.footer-logo-container img {
    width: 150px;
}
.blog-dev-container img {
    width: unset;
    max-height: 280px;
}
.pc-only {
    display: none;
}
.blog-main-container {
    width: min(100%, 1250px);
    /*width: 100%;*/
    margin: auto;
}
.blog-section {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    min-width: 50%;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.blog-container {
    height: 450px;
    border-radius: var(--section-radius);
    overflow: hidden;
    margin-bottom: 1rem;
    width: 100%;
}
.blog-header .blog-container {
    /*border-radius: 0 0 var(--section-radius) var(--section-radius);*/
    border-radius: 0;
    margin-bottom: 0;
}
.blog-title-container {
    text-align: center;
}
.blog-container, .blog-galerie-collection-item {
    position: relative;
}
.blog-galerie-collection .blog-container {
    background: linear-gradient(45deg, #344E3A, #133019 );
    padding: 0 1rem 4rem 1rem;
    border-radius: var(--section-radius) var(--section-radius) 0 0;
    margin-bottom: 0;
}
ul.blog-list {
    margin-left: 2rem;
}
ul.blog-list li {
    list-style-type: disc;
}
/*.blog-section-options-container.backdrop-green{*/
/*    background: linear-gradient(to bottom, rgba(17, 147, 45, 0.40), #173D1F);*/
/*}*/
.blog-section-options-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    row-gap: 1rem;
    text-align: center;
}
.blog-section-options-container.as-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.blog-section-options-container.token.as-cover {
    background: #57634B91;
}
.blog-session-cover-text-container {
    color: white;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.blog-discover-btn {
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.45);
    padding: .6rem 1rem;
    min-width: 150px;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    animation: blog-btn .5s;
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
}
.blog-section-options-container.green .blog-session-cover-text-container {
    color: black;
}
.blog-section-options-container.black .blog-session-cover-text-container {
    color: black;
}
.blog-section-options-container.black .blog-discover-btn {
    color: black;
    border-color: black;
}
.blog-section-options-container.green .blog-discover-btn {
    background: rgba(57, 117, 70, 0.64);
}
.blog-section > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-header {
    background-image: url("/blogs/dressphtshp.webp");
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: center;
    /*border-radius: 0 0 var(--section-radius) var(--section-radius);*/
    overflow: hidden;
    /*height: 100vh;*/
    height: 650px;
}
.blog-header .blog-section-options-container{
    flex: 1;
}
.blog-title {
    color: white;
    font-size: 3rem;
}
.blog-sub-title {
    color: white;
    margin-bottom: 4rem;
}
.blog-collection .blog-container{
    min-height: var(--container-height);
    width: 100%;
}
.blog-governance-container {
    background-color: #397546;
    height: var(--container-height);
    width: 100%;
}
.blog-container.blog-header-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to bottom, #031F09, rgba(48, 80, 55, 0.8));
    padding: 2rem 0;
    height: 100%;
}
.blog-galerie-collection-body {
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
}
.blog-galerie-title {
    margin: 2rem 0 3rem 0;
    color: white;
    font-size: 3rem;
}
footer {
    color: white;
    background: #2C4932;
    padding: 1rem 0;
}
.footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-socials-container {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}
.blog-social-network {
    color: white;
    font-size: 1.2rem;
}
.footer-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .2rem;
    margin: .45rem auto;
}
.footer-copyright {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-size: .8rem;
}
.blog-container-title {
    margin-bottom: 2rem;
}
.blog-discover-btn:hover{
    background-color: #27ae60;
    color: white !important;
    border-color: #27ae60 !important;
}
.blog-header-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    align-items: center;
}
.blog-header-left-menu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 1rem;
    background: rgba(1, 57, 12, 0.04);
    padding: .5rem;
    border-radius: 10px;
    border: 2px solid #003904;
    backdrop-filter: blur(6px);
}
.blog-header-left-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: .75rem;
}
.blog-header-left-menu-item:after{
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.blog-header-left-menu-item:last-child:after{
    content: none;
}
.blog-header-left-menu-item a {
    color: white;
    transition: scale .075s linear;
    padding: 0.15rem .25rem;
}
.blog-header-left-menu-item a:hover{
    color: white;
    scale: 1.15;
    border-bottom: 2px solid white;
}
.blog-header-title {
    position: relative;
    background-image: linear-gradient(
        to right,
        white,
        #74D680,
        #3eb489,
        #90EE90,
        #addfad,
        white
    );
    background-size: 200%;
    background-clip: text;
    background-color: transparent;
    color: transparent;
    animation: gradient-effect 3s linear infinite;
}
.not-available img {
    filter: contrast(.35) grayscale(1.5);
}
.blog-section-soon-mode {
    background: #e74c3c6e;
    color: white;
    padding: .5rem 3rem;
    border-radius: 35px;
}
.blog-text-container {
    padding: 1rem 1rem 4rem 1rem;
}
.blog-paragraph-container {
    margin-bottom: 2rem;
}
.disclaimer {
    color: #e74c3c;
}
.article-link {
    display: block;
    margin-bottom: 1rem;
}
.blog-page-title {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
}

@keyframes gradient-effect {
    to {
        background-position: 200%;
    }
}
@keyframes fadeIn-view {
    from {
        scale: .7;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

@media only screen and (min-width: 750px) {
    .blog-header-menu-container {
        flex-direction: row;
    }
    .blog-section {
        flex-direction: row;
        column-gap: 1rem;
    }
    .blog-section.blog-galerie-collection {
        flex-direction: column;
    }
    .blog-galerie-collection-body {
        flex-direction: row;
        padding: 1rem;
        column-gap: 2rem;
    }
    .blog-section {
        margin-bottom: 2rem;
    }
    .blog-container {
        margin-bottom: 0;
    }
    .blog-header {
        background-position: bottom -100px center;
    }
    .mobile-only {
        display: none;
    }
    .blog-header-left-menu {
        justify-content: flex-end;
    }
    .pc-only {
        display: block;
    }
    .blog-title {
        font-size: 5rem;
    }
    .blog-collection {
        height: var(--container-height);
    }
    .blog-roadmap-container {
        height: var(--container-height);
    }
    .blog-galerie-collection {
        margin-bottom: 0;
    }
    footer {
        padding: 2rem;
    }
    .footer-header {
        display: flex;
        justify-content: space-between;
    }
    .footer-menu-container {
        display: flex;
        justify-content: flex-start;
        column-gap: 3rem;
        font-size: .9rem;
    }
    footer a {
        color: white;
    }
    footer a:hover {
        color: #e8e8e8;
    }
    .footer-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: .75rem;
    }
    .footer-socials-container {
        column-gap: 2rem;
        justify-content: flex-end;
    }
    .footer-copyright {
        justify-content: space-between;
    }
    .footer-copyright-links {
        display: flex;
        justify-content: flex-end;
        column-gap: .5rem;
    }
    .footer-separator {
        border-top: 1px solid rgba(255, 255, 255, 0.74);
        margin: 1.4rem auto;
    }
}