.home-wrapper{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    width:100%;
    min-height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.home-option{
    height:140px;
    width:140px;
    margin:20px;
    transition:box-shadow .3s;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-family: Poppins;
    font-size:13px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius:8px;
    transition:transform .3s;
}
.home-option-soon {
    cursor: not-allowed;
    opacity: .6;
}
.home-option-soon-svg{
    filter: grayscale(1.2);
}
.home-option-soon:hover {
    opacity: .8;
}
.home-option-soon:hover .home-option-soon-svg {
    filter: grayscale(.45);
}
.home-option-soon-text {
    font-weight: bold;
    color: var(--active-background);
}

.home-option-title{
    padding:5px;
    height:25%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    color: light-dark(var(--black), var(--white));
}

.home-option-icon{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.home-option:hover{
    transform:scale(1.2);
}

/* .home-option:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} */