.AppSettingsContainerWrapper{
    /* background:red; */
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:3;
}

.AppSettingsContainer{
    /* background:red; */
    position:absolute;
    /* top:100px;
    right:100px; */
    right:0;
    top:0;
    margin-top:80px;
    margin-right:40px;
    width:420px;
    min-height:330px;
    background:#FFF;
    box-shadow: 0px 8px 17.7px 0px rgba(51, 198, 83, 0.10);
    display:grid;
    grid-template-rows:40px 1fr;
    border-radius:12px;
    padding-bottom:7px;
    padding-left:10px;
    padding-right:10px;
}

.ContainerHeader{
    /* background:red; */
    color:#000;
    font-weight:600;
    font-size:15px;
    font-family:Inter;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    /* background:red; */
    padding-left:20px;
}

.ContainerHeader span{
    /* background:red; */
    margin-left:auto;
    margin-top:10px;
    margin-right:10px;
    /* background:red; */
    /* background:#d9f9e0; */
    cursor:pointer;
    /* padding-top:10px; */
    border-radius:0px 0px 4px 4px;
}

.ContainerBody ul{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100%;
    width:100%;
    padding:5px;
    flex-wrap:wrap;
}

.ContainerBody ul li{
    /* background:purple; */
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
}

.ContainerBody ul li span{
    /* background:red; */
    width:100%;
    height:100px;
    border-radius:25px;
    background:#f6fbf1;
    display:grid;
    grid-template-rows:50% 20% 20%; 
    padding:10px;
    cursor:pointer;
}

.ContainerBody ul li span:hover{
    background:#d9f9e0;
}

.BodyHeader{
    /* background:red; */
    display:flex;
}

.BodyHeader svg:last-child{
    /* background:red; */
    margin-left:auto;
    margin-top:14px;
    margin-right:2px;
}

.BodyHeader svg{
    margin-top:10px;
    margin-left:10px;
}

.BodyValue{
    font-family:Inter;
    font-size:13px;
    font-weight:600;
    padding-left:10px;
    /* padding-top:15px; */
}

.BodyName{
    font-size:12px;
    font-family:Inter;
    color:rgba(0,0,0,0.7);
    padding-left:10px;
    padding-bottom:10px;
}

/* ===== MQ ===== */

@media only screen and (max-width : 600px){
    
    .AppSettingsContainer{
        /* background:red; */
        position:absolute;
        /* top:100px;
        right:100px; */
        right:0;
        top:0;
        left:0;
        margin:0;
        width:100vw;
        z-index:99999999999;
    }

    .AppSettingsContainerWrapper{
        background:rgba(0,0,0,0.4);
    }


}