.chart-container-wrapper{
    /* background:red; */
    height:460px;
    width: min(100%, 750px);
    /* border-ra */
    padding: 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    /*z-index:-4;*/
}
.chart-container-wrapper div div {
    border-radius: 10px;
    /*overflow: hidden;*/
    border: 1px solid var(--transparent-black);
    width: min(100%, 750px);
    display: flex;
}

.chart-container{
    height:100%;
    width:100%;
}

@media only screen and (max-width:700px){
    .chart-container{
       display:none;
    }
}