.history-transactions-list-container {
    min-height: 50px;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.history-transaction-container {
    border: 1px solid transparent;
    padding: .1rem .5rem;
    border-radius: 5px;
}
.history-transaction-container.active {
    border: 1px solid #00a3f5;
    background: light-dark(rgba(41, 128, 185, 0.05), rgba(41, 128, 185, 0.05));
}
.history-transaction-container:hover {
    background: light-dark(var(--primary-lite-color), var(--dark-primary-lite-color));
    border: 1px solid light-dark(var(--primary-border-color), var(--dark-primary-border-color));
    cursor: pointer;
}
.history-transaction-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    column-gap: .5rem;
    min-width: 175px;
}
.history-transaction-type-network img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.history-transaction-type-operation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: grey;
}
.history-transaction-type-operation.is-receive {
    background: var(--lite-green);
    color: white;
}
.history-transaction-type-operation.is-send {
    background: var(--lite-orange);
    color: white;
}
.history-transaction-type-operation.is-trade {
    background: var(--lite-blue);
    color: white;
}
.history-transaction-type-operation.is-approve {
    background: var(--lite-red);
    color: white;
}
.history-transaction-type-operation.is-failed {
    background: var(--lite-pink);
    color: white;
}
.history-transaction-asset-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    min-width: 150px;
}
.history-transaction-asset-swap-icon:last-child{
    display: none;
}
.history-transaction-row-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    column-gap: 1rem;
}
.history-transaction-assets-container {
    display: flex;
    justify-content: flex-start;
    column-gap: 1.5rem;
    align-content: center;
    align-items: center;
}
.history-transaction-asset-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
.history-transaction-asset-balance-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
}
.history-transaction-asset-logo-container {
    background: white;
    border-radius: 50%;
    /*border: 1px solid grey;*/
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-transaction-asset-direction-logo-container {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: .5rem;
}
.history-transaction-asset-balance-container.increase {
    color: #27ae60;
}
.history-transaction-asset-balance-container.decrease {
    color: #c0392b;
}
.history-transaction-second-part-label,
.history-transaction-asset-amount-container,
.history-transaction-type-time,
.history-transaction-more-item-label {
    color: #34495e;
}
.history-transaction-second-part-label-details {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    column-gap: .5rem;
    margin-top: .5rem;
    width: 130px;
}
.history-transaction-second-part-label-details div {
    display: flex;
    flex: 1;
}
.history-transaction-more-container {
    animation: show-more-details .25s linear;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    column-gap: 1.5rem;
    margin-top: .75rem;
}
.history-transaction-more-container a {
    color: light-dark(var(--black), var(--white));
    font-weight: bold;
}
.history-transaction-type-name:first-letter {
    text-transform: capitalize;
}
.history-transaction-assets-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    column-gap: 1rem;
}
.history-transaction-second-part-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    column-gap: .5rem;
}
.history-transaction-more-item-value {
    display: flex;
    justify-content: flex-start;
    column-gap: .5rem;
}
.history-transaction-more-item-value span {
    display: inline-block;
    padding: 0.15rem .5rem;
    background: var(--primary-lite-color);
    color: var(--black-gray);
    border-radius: 5px;
}
@keyframes show-more-details {
    from {
        height: 0;
        opacity: 0.5;
    }
    to {
        height: 50px;
        opacity: 1;
    }
}