.app-modal-wrapper{
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    z-index:99;
    font-family:Inter;
    font-size:14px;
    font-weight:500;
    /* color:#088a24; */
    color:#000;
    font-style:normal;
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(8px);
}

.app-modal{
    box-shadow: 0px 8px 17.7px 0px rgba(51, 198, 83, 0.10);
    border-bottom:1px solid rgba(0,0,0,0.1);
    border-left:1px solid rgba(0,0,0,0.05);
    border-right:1px solid rgba(0,0,0,0.05);
    background:#fafbfe;
    margin: 1rem;
    /* min-width:400px; */
    max-width:460px;
    width:100%;
    min-height:200px;
    max-height:500px;
    border-radius:12px;
    /*display:grid;*/
    /*grid-template-rows:60px 1fr;*/
    /* position:absolute;
    left: 50%;
    top: 50%; */
    /* transform: translate(-50%,-50%); */
}

.app-modal-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom:1px solid rgba(0,0,0,0.05);
    padding: .5rem;
}

.app-modal-header-title{
    flex: 1;
    padding: 0 1rem;
}

.app-modal-header-icon-container{
    padding: 0 1rem;
}

.app-modal-header svg image{
    cursor:pointer;
    transition:filter .3s;

}

.app-modal-header svg image:hover{
    filter: invert(22%) sepia(66%) saturate(5851%) hue-rotate(140deg) brightness(98%) contrast(94%);
}


.app-modal-content{
    display:flex;
    flex-direction:column;
}
/* 
@media only screen and (max-width: 600px) {
    .app-modal{
        width:100%;
    }
} */